@model IEnumerable<Domain.Entities.HangHoa>

@{
    ViewData["Title"] = "Danh Sách Hàng Hóa";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("Create", "HangHoa")" class="btn btn-primary">Thêm Hàng Hóa</a>

<div class="container-fluid px-4">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Danh sách hàng hóa
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Mã Hàng Hóa</th>
                        <th>Tên Hàng Hóa</th>
                   
                        <th>Đơn Giá</th>
                        <th>Hình Ảnh</th>
                        <th>Ngày Sản Xuất</th>
                        <th>Giảm Giá</th>
                        <th>Số Lần Xem</th>
                        <th>Hành Động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MaHH</td>
                            <td>@item.TenHH</td>
                          
                            <td>@item.DonGia</td>
                            <td>@item.Hinh</td>
                            <td>@item.NgaySX.ToShortDateString()</td>
                            <td>@item.GiamGia</td>
                            <td>@item.SoLanXem</td>
                            <td>
                                <a href="@Url.Action("Edit", "HangHoa", new { id = item.MaHH })" class="btn btn-warning">Sửa</a>
                                <a href="@Url.Action("Delete", "HangHoa", new { id = item.MaHH })" class="btn btn-danger">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .btn btn-primary {
        padding-top: 20px;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css"
      rel="stylesheet" />
<link href="~/css/Dashboard.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
<script src="~/js/Dashboard.js"></script>
