@model IEnumerable<Domain.Entities.ChiTietHD>

@{
    ViewData["Title"] = "Chi Tiết Hóa Đơn";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Chi Tiết Hóa Đơn @ViewData["Title"]</h1>
<table class="table">
    <thead>
        <tr>
            <th>Mã Hàng Hóa</th>
         
            <th>Số Lượng</th>
            <th>Đơn Giá</th>
            <th>Giảm Giá</th>
            <th>Thành Tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaHH</td>
            
                <td>@item.SoLuong</td>
                <td>@item.DonGia</td>
                <td>@item.GiamGia</td>
                <td>@(item.DonGia * item.SoLuong - item.GiamGia ?? 0)</td> <!-- Tính thành tiền -->
            </tr>
        }
    </tbody>
</table>

 <a href="@Url.Action("Create", "ChiTietHD", new { id = ViewData["HoaDonId"] })" class="btn btn-success">Thêm Chi Tiết</a>
