@model IEnumerable<Domain.Entities.KhuyenMai>

@{
    ViewData["Title"] = "Danh Sách Khuyến Mãi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<a asp-action="Create" class="btn btn-primary">Thêm Khuyến Mãi</a>
<div class="container-fluid px-4">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Danh sách khuyến mãi
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Tên Chương Trình</th>
                        <th>Ngày Bắt Đầu</th>
                        <th>Ngày Kết Thúc</th>
                        <th>Giảm Giá (%)</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var km in Model)
                    {
                        <tr>
                            <td>@km.TenChuongTrinh</td>
                            <td>@km.NgayBatDau.ToShortDateString()</td>
                            <td>@km.NgayKetThuc.ToShortDateString()</td>
                            <td>@km.GiamGia</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@km.MaKM" class="btn btn-warning btn-sm">Sửa</a>
                                <a asp-action="Delete" asp-route-id="@km.MaKM" class="btn btn-danger btn-sm">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .btn btn-primary {
        padding-top: 20px;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css"
      rel="stylesheet" />
<link href="~/css/Dashboard.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
<script src="~/js/Dashboard.js"></script>
