@model PaginatedList<HangHoaVM>

@foreach (var item in Model)
{
    <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="rounded-3 position-relative fruite-item box-shadow">
            <div class="fruite-img position-relative">
                <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHH">
                    <img src="~/image/HangHoa/@item.Hinh" class="card-img-top" alt="">
                </a>
                <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                     style="top: 10px; left: 10px;">
                    @item.TenLoai
                </div>
                <div class="text-white bg-danger px-3 py-1 rounded position-absolute"
                     style="top: 10px; right: 10px;">
                    -@item.GiamGia%
                </div>
            </div>
            <div class="p-4 border border-secondary border-top-0 rounded-bottom bg-light">
                <h4 class="text-primary">@item.TenHH</h4>
                
                <div class="d-flex justify-content-between align-items-center">
                    <p class="text-dark fs-5 fw-bold mb-0">@item.DonGia.ToString("N0").Replace(",", ".")đ</p>
                </div>
                <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.MaHH" class="btn btn-outline-primary rounded-pill px-3">
                    <i
                        class="fa fa-shopping-bag me-2">
                    </i> Thêm vào giỏ hàng
                </a>
            </div>
        </div>
    </div>
}

