@model PaginatedList<HangHoaVM>

@foreach (var hangHoa in Model)
{
    <div class="col-lg-4 col-md-6">
        <div class="product-item">
            <div class="product-img">
                <img src="@hangHoa.Hinh" alt="@hangHoa.TenHH" class="img-fluid">
            </div>
            <div class="product-info">
                <h5>@hangHoa.TenHH</h5>
                <p>@hangHoa.DonGia.ToString("C")</p>
            </div>
        </div>
    </div>
}

<nav aria-label="Page navigation">
    <ul class="pagination">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                <a class="page-link" href="#" data-page="@i">@i</a>
            </li>
        }
    </ul>
</nav>


